.security-information-page {
  h2 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
  }

  .table {
    margin-bottom: 0;

    tbody tr td {
      border-top: 0;

      &:first-of-type {
        width: 30%;

        .title {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.87);
          font-weight: 500;
        }
      }

      &.data {
        font-size: 16px;
      }

      &.setting-action {
        text-align: right;
        font-size: 16px;
      }
    }

    tbody tr {
      border-bottom: 1px solid #dee2e6;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
