$link-blue: #3f85f4;
$light-gray: rgba(0, 0, 0, 0.57);
$background-blue: #78c8c7;
$background-link-hover: #6cb4b3;
$highlight: rgb(56, 113, 194);
$white: #fff;
$notification-red: #ffcbb4;
$text-dark: rgba(51, 51, 51, 0.7);
$pitch-black: rgba(0, 0, 0, 0.87);

.header-wrapper {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 64px;
  margin: 0;

  .header-logo {
    text-decoration: none;
    background-image: url('/assets/images/web_logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    height: 50px;
    max-width: 145px;
    width: 145px;
  }

  div {
    display: flex;
    .head-link-wrapper {
      margin-right: 24px;
      color: $link-blue;
      font-size: 14px;
    }
    .nav-helper {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-right: 16px;

        .header-balance-link {
          color: $light-gray;
        }

        .investor-username {
          color: $link-blue;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.rap-popover-content {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(83, 104, 117, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
    0 8px 24px rgba(16, 22, 26, 0.2);
  display: block !important;
  width: 200px;
  padding: 10px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-right: 0 !important;
      padding: 4px 8px;
      a {
        display: block;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
