$link-blue: #3f85f4;
$light-gray: rgba(0, 0, 0, 0.57);
$background-blue: #78c8c7;
$background-link-hover: #6cb4b3;
$highlight: rgb(56, 113, 194);
$white: #fff;
$notification-red: #ffcbb4;
$text-dark: rgba(51, 51, 51, 0.7);
$pitch-black: rgba(0, 0, 0, 0.87);

.notification-area {
  padding: 0 64px;

  .notification-card-red {
    background: $notification-red;
    border-radius: 4px;
    padding: 16px;
    margin-top: 10px;

    div {
      margin-bottom: 16px;
      p {
        font-size: 16px;
        margin: 0 0 8px 0;
        color: $text-dark;
        font-weight: 600;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: $text-dark;
        li {
          font-size: 13px;
        }
      }
    }
  }
}
